<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shiftschedule">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".shiftScreens.shiftAddEmployees"></activity>
        <activity android:name=".shiftScreens.listShiftOnDay" />
        <activity android:name=".shiftScreens.viewShiftDetails" />
        <activity android:name=".shiftScreens.createShiftWeekend" />
        <activity android:name=".shiftScreens.createShiftWeekday" />
        <activity
            android:name=".calendar.schedule_month_view"
            android:label="@string/title_activity_schedule_month_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".employee.screens.changeAvailability" />
        <activity android:name=".employee.screens.employeeDetails" />
        <activity
            android:name=".schedule_tabs"
            android:label="@string/title_activity_schedule_tabs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login.registerpage" />
        <activity android:name=".employee.screens.eregisterpage" />
        <activity android:name=".landingPage.landingPage" />
        <activity android:name=".employee.screens.employeePage" />
        <activity android:name=".login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>